body{ }
/*pictiure*/
.pic{
  background-image: url(HillView.gif);
  background-repeat: no-repeat;
  height: 815px;
  background-size: 1600px 1000px;
  margin-top:-70px; margin-left: -10px; margin-right:-8px;
}
/*end of picture*/
      /*top menu*/
      ul{  
        display: grid; 
        margin-left: 1130px; opacity: 60%;
        grid-template-columns: 0fr 0fr 0fr 0fr;
        margin-top: -738px;
      }
      li{ 
        list-style: none;
      }
      a{
        font-family: arial; text-decoration: none;
        margin: 5px; font-size: 20px; color: white;
        border: 2px solid; padding-left: 5px; padding-right: 5px;
        border-radius: 4px 4px 4px 4px;
      }
      .home{
        background-color: white;
        color: black;
      }
      /*end of top menu*/    
      .line{ 
        background-color: white; width: 101%; height: 3px;
        margin-top: -2px; margin-left: -8px; opacity: 80%;
      }
/*middle text*/
.header{ 
  color: #663c3e; margin-top: 150px; text-align: center; opacity: 80%;
  font-size: 100px; font-family: arial; font-weight: bold;
  text-shadow: 5px 1px 11px white;
}
.header1{ 
  color: #e0e0e0; text-align: center;  
  font-size: 100px; font-family: arial; font-weight: bold;
  text-shadow: 0px 3px 10px #663c3e;
}
/*end of middle text*/
      /*bottom menu*/
      .menu1{
        margin-left: 660px; font-size: 30px; color: #663c3e; text-decoration: none;
        border: 3px solid; font-weight: bold;
        padding-left: 20px; padding-right: 20px; padding-bottom: 10px; padding-top: 10px;
        border-radius: 10px 10px 10px 10px; border-color:#663c3e; 
      }
      .menu1-position{ 
        margin-top: 20px; 
      }
      /*end of bottom menu*/
/*menu hovering*/
a:hover{
  color: black;
  border-color: black;
  transition-duration: 0.3s;
  background-color: white;
}
.menu1:hover{
  background-color: #663c3e;
  color: #e0e0e0; border-color: #663c3e;
  transition-duration: 0.3s;
}
/*end of menu hovering*/


