body.index{
  margin:0;
  padding: 0;
  background-color: black;
  background-image: url(HillView.gif);
  background-repeat: no-repeat;
  height: 670px;
  width: 100%;
  background-size: 100% 754px;
}

/*top menu*/
nav{
  background-color: #37204d;
  height: 50px;
}
      ul{  
        margin-top: 9px;
        margin-right: 30px;
        list-style: none;
        float: right;
        }
      li{ 
        border: 2px solid;
        color: white;
        margin: 3px;
        border-radius: 4px;
        display: inline-block;
        opacity: 90%;
      }
      a{
        font-family: arial;
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding-left: 5px; 
        padding-right: 5px;
      }
      .home,
      .portfolio,
      .contact,
      .cv{
        background-color: white;
        color: black;
      }
      .home1,
      .portfolio1,
      .contact1,
      .cv1{
        color: black;
      }
      /*end of top menu*/    

      .line{ 
        background-color: white;
        width: 100%;
        height: 3px;
        opacity: 80%;
        margin-top: 0px;
      }

/*middle text*/
.welcome{ 
  color: #663c3e; 
  font-size: 100px; font-family: arial;
  font-weight: bold;
  text-shadow: 5px 1px 11px white;
  text-align: center;
  margin-top: 150px;
}
.website{ 
  color: #e0e0e0; text-align: center;  
  font-size: 100px; font-family: arial; 
  font-weight: bold;
  text-shadow: 0px 3px 10px #663c3e;
  text-align: center;
}
/*end of middle text*/

      label #bar{
        color: white;
        font-size: 35px;
        float: right;
        margin-top: -42px;
        margin-right: 30px;
        cursor: pointer;
        display: none;
      }
      #check{
        display: none;
      }

/*menu hovering*/
li:hover{
  border-color: black;
  background-color: white;
  transition-duration: 0.2s;
}
a:hover{
  color: black;
}
/*end of menu hovering*/

/*------------------------------------------------------------*/

/*responsive*/
        @media screen and (max-width: 600px){
          body.index{
            width: 100%;
            background-size: 100% 736px;
          }
          ul{  
            background-color: #4b3156;
            margin-top: 53px;
            width: 100%;
            height: 490px;
            text-align: center;
            position: fixed;
            right: 100%;
            border-radius: 5px;
            transition: 0.2s;
          }
          li{
            display: block;
            padding-top: 30px;
            padding-bottom: 30px;
            margin: 0;
            width: 100%;
            border-bottom: 2px solid;
            border-color: black;
            margin-left: 0px;
          }
          a{
            font-size: 30px;
          }
      .home,
      .portfolio,
      .contact,
      .cv{
        background-color: #bbb;
        border-bottom: 2px solid;
        border-color: white;
      }
      .home1,
      .portfolio1,
      .contact1,
      .cv1{
        color: black;
      }
          .welcome{
            font-size: 70px;
            margin-top: 70px;
            transition: 0.2s;
          }
          .website{
            font-size: 70px;
            margin-bottom: 100PX;
          }
          label #bar{
            display:block;
            margin-top: 10px;
          }
          #check:checked ~ ul{
            right: -8%;
          }
        }
          li:hover{
            background-color: #ccc;
          }
          @media screen and (max-width: 413px){
          body.index{
            width: 100%;
            height: 500px;
            background-size: 100% 812px;
          }
          .welcome{
            font-size: 50px;
            margin-top: 90px;
            transition: 0.3s;
          }
          li:hover{
            background-color: #ccc;
          }
        }

/*end of responsive*/

/*..............................................................*/

                       /*portfolio css*/

body.portfolio{
  background-color: #fdac058c;
}

/*top menu*/
nav.port{
  margin-top: -100px;
  width: 101%;
  margin-left: -8px;
  position: fixed;
}
      ul.port{
        margin-top: -14px;
        position: fixed;
        right: -17px;
      }
      li.port{ 
        opacity:90%; 
      }
/*end of top menu*/

      .line1{ 
        background-color: white;
        width: 100%;
        height: 3px;
        opacity: 80%;
        position: fixed;
        top: 50px;
        left: 7px;
      }

      /*columns top*/
      .grid-container1{
        display: grid;
        grid-template-columns: 0.33fr 0.33fr 0.35fr;
        margin-top: 100px; 
        grid-gap: 30px;     
      }
      .grid-container1{
        background-image:url(HillView.gif);
        background-repeat: no-repeat;
        background-size: 100% 995px;
        height: 995px;
        width: 100%;
        border-radius: 15px;
      }
      .grid-item,
      .grid-item1,
      .grid-item2,
      .grid-item3, 
      .grid-item5,
      .grid-item6{
        background-color: #110b3b;
        border-radius: 10px;
        height: 300px;
        transition-duration: 0.5s;
        margin-top: 22px;
        box-shadow: 0px 2px 6px 0px;
        display: grid;
      }
      .grid-item,
      .grid-item1,
      .grid-item2{
        background-size: 100% 300px;
        background-repeat: no-repeat;
      }
      .grid-item{
        background-image: url(placeholderimage.jpg);
        margin-left: 20px;
      }
      .grid-item1{
        background-image: url(placeholderimage.jpg);
        border-radius: 10px 0 0 10px;
      }
      .grid-item2{
        background-image: url(placeholderimage.jpg);
        background-size: 100% 400px;
        background-repeat: no-repeat;
        height: 950px;
        margin-left: -20px;
        margin-right: 18px;
        border-radius: 0 10px 10px 0px;
      }
      .grid-item3{
        background-image: url(placeholderimage.jpg);
        background-size: 50% 500px;
        background-repeat: no-repeat;
        grid-column: 1 / 3;
        margin-left: 20px;
        border-radius: 10px 0 0 10px;
      }
      .side{
        color: white;
        margin-top: 420px;
        text-align: center;
        font-family: arial;
      }
      .side span{
        color:darkred;
      }
      .mid{
        margin-left: 50%;
        margin-top: 200px;
        text-align: center;
        color: white;
        font-family: sans-serif;
      }
      #btm,
      #btm1{
        color: white;
        text-align: center;
      }
      .grid-item3{
        margin-top: -515px;
        height: 485px; 
      }
      .details,
      .details1{ 
        width: 100%;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 0px 4px 0px;
        background-repeat: no-repeat;
        margin-top: 300px;
        background-size: 100% 150px;
      }
      .details{ 
        background-image: url(placeholdertext400x150.png);
      }
      .details1{ 
        background-image: url(placeholdertext400x150.png);
      }
      /*end of columns top*/

      /*columns bottom*/
      .grid-container2{
        display: grid;
        grid-template-columns: 0.3fr 0.3fr; 
        margin-top: 50px;  
        width: 100%;
        background-color: darkred; 
        height: 450px; 
        margin-left: 0px; 
      }
      .grid-item5,
      .grid-item6{
        height: 350px; 
        margin-top: 45px;
        margin-left: 50px;
       }
       /*end of columns bottom*/

/*social media icons*/
#fbiconp{
  margin-left: 102%;
}
#igiconp{
  margin-left: 5%;
}
/*end of social media icons*/

.foot{
  height: 500px;
}

      /*hamburger icons*/
      label #bar1{
        color: white;
        font-size: 35px;
        cursor: pointer;
        display: none;
        right: 20px;
      }
      #check1{
        display: none;
      }
      /*end of hamburer icons*/
       
/*columns hover*/
.grid-item:hover,
.grid-item1:hover{
      box-shadow: 0px 0 5px 2px yellow;
      height: 450px;
}
      .grid-item5:hover,
      .grid-item6:hover{
        box-shadow: 0 3px 5px 0 white;
        cursor: pointer;
       }
/*end of columns hover*/

/*-------------------------------------------------------------*/

/*responsive*/
        @media screen and (max-width: 600px){
          body.portfolio{
            background-color: orange;
          }
          ul.port{  
            top: 60px;
            right: 100%;
            transition: 0.2s;
          }
          .line1{
            margin-left: -10px;
          }
          label #bar1{
            position: fixed;
            margin-top: 8px;
            display:block;
          }
          #check1:checked ~ ul.port{
            right: -8%;
          }
.grid-container1{
  grid-template-columns: 0.3fr 0.3fr 0.36fr;
}
/*2nd*/
.grid-item{
  background-size: 100% 190px;
  height: 190px;
  margin-left: -40px;
  border-radius: 0 15px 0 0;
}
/*3rd*/
.grid-item1{
  background-size: 100% 190px;
  grid-area: 2 / 3 / 3 / 4;
  margin-top: -360px;
  margin-left: -40px;
  height: 190px;
  border-radius: 0 0 0 0;
}
/*1st*/
.grid-item2{
  grid-area: 1 / 1 / 2 / 3;
  grid-column: 1 / 3;
  background-size: 100% 300px;
  height: 620px;
  margin-left: 13px;
  border-radius: 15px 0 0 0;
}
/*4th*/
.grid-item3{
  margin-top: -100px;
  grid-column: 1 / 4;
  background-size: 100% 300px;
  height: 300px;
  border-radius: 0 0 15px 15px; 
  margin-left: 13px;
}
.details,
.details1{
  margin-top: 190px;
}
.grid-item:hover{
  height: 300px;
}
.grid-item1:hover{
  height: 300px;
}
.grid-container2{
  grid-template-columns: 0.48fr 0.48fr;
  height: 400px;
}
.grid-item5,
.grid-item6{
  margin-left: 16px;
  height: 300px;
}
#fbiconp{
  margin-left: 88%;
}
#igiconp{
  margin-left: 3%;
}
}

/*end of responsive*/

/*.............................................................*/

               /*contact css*/

body.contact{
  background-color: gray;
}
      /*top menu*/
      nav.cont{
        position: fixed;
        top: 0px;
        width: 101%;
        margin-left: -9px;
      }
      ul.cont{
        position: fixed;
        top: 0px;
        right: 0px;
      }
      li.cont{ 
        opacity: 90%;
      }
      /*end of top menu*/
      .line2{
        background-color: white;
        width: 100%;
        height: 3px;
        opacity: 80%;
        position: fixed;
        top: 50px;
        left: -1px;
      }
/*columns*/
.grid-container3{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 15px;
}
.grid-item7{
  background-color: black;
}
.grid-item7{
  margin-top: 70px;
  height: 640px; 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.me{
  background-image: url(me.jpg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  height: 40px; width: 40px;
  margin-top: 15px;
  margin-left: 44%;
  border-radius: 50px;
}
/*contact logo*/
#fbicon{
  font-size: 25px;
  border: none;
  margin-left: 42%;
}

/*end of contact logo*/
.grid-item8{
  background-image: url(HillView.gif);
  background-size: 100% 640px;
  height: 640px;
  margin-top: 70px;
  border-radius: 20px;
  box-shadow: 0 3px 5px 0;
}
/*end of columns*/
        /*text inside columns*/
        .text{
          background-color: #aaa;
          color: #fff;
          font-family: helvetica;
          text-align: center;
        }
        .text1{
          margin-top: 30px;
          margin-left: 120px;
          color: white;;
          font-family: sans-serif;
          text-shadow: 3px 0px 3px red;
        }
        /*end of text inside columns*/
/*form*/
form{
  margin-top: 50px;
  height: 460px;
  margin-left: 100px;
}
label{
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-left: 10px;
}
#message{
  box-shadow: 0 0px 3px 0px;
  margin-left: 10px;
  width: 40%;
}
#box{
  margin-left: 10px;
  height: 20px; width: 40%;
  border: 2px solid;
}
#submit{
  border: 1px solid;
  border-radius: 4px;
  margin-top: 15px;
  margin-left: 15%;
}
#mf{
  color: #ccc;
  margin-top: 10px;
  margin-left: 10px;
}
/*end of form*/
/*contact hover*/
#fbicon:hover{
  color: blue;
}
#igicon:hover{
  color: red;
}
.me:hover{
  opacity: 100%;
  box-shadow: 0 0 9px 2px white;
}
/*end of contact hover*/
      label #bar2{
        color: white;
        font-size: 35px;
        cursor: pointer;
        display: none;
        right: 20px;
      }
      #check2{
        display: none;
      }

/*responsive*/

@media screen and (max-width: 600px){
  body.contact{
    background-color: lightgray;
  }
  nav.cont{
    margin-left: -10px;
  }
  ul.cont{
    top:0px;
    right: 110%
  }
  #message{
    width: 40%;
  }
  .me{
    margin-left: 44%;
  }
  #fbicon{
    margin-left: 40%;
  }

          label #bar2{
            position: fixed;
            margin-top: 8px;
            display:block;
          }
          #check2:checked ~ ul.cont{
            right: -8%;
          }
/*columns*/
.grid-container3{
  grid-template-columns: 1fr;
}
.grid-item7{
  grid-area: 2 / 1 / span 2 / span 1;
}
.grid-item7{
  margin-top: 0px;
  height: 300px; 
}
/*end of columns*/

/*form*/
#message{
  width: 50%;
}
#box{
 width: 50%;
}
}
/*end of responsive*/

                       /*cv css*/

body.cv{
  background-color: black;
}
/*pictiure*/
/*end of picture*/
      /*top menu*/
      li.c{ 
        opacity: 90%;
      }
      /*end of top menu*/
/*columns*/
.grid-container4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 0px;
  margin-left: 3px;
}
.grid-item9,
.grid-item10,
.grid-item11,
.grid-item12,
.grid-item13,
.grid-item14,
.grid-item15{
  height: 320px;
}
.grid-item9{
  grid-area: 1 / 1 / 4 / 2;
  margin-top: 50px;
  height: 870px;
  width: 70%;
  margin-left: 115px;
  background-color: lightgreen;
  border-radius: 50px 0 0 50px;
}
.grid-item12{
  grid-area: 1 / 4 / 4 / 5;
  background-color: orange;
  height: 870px;
  width: 70%;
  margin-top: 50px;
  border-radius: 0 50px 50px 0;
}
.grid-item10{
  grid-area: 1 / 2 / 3 / 3;
  background-color: #eee;
  margin-top: 30px;
  height: 570px;
  background-image: url(idbg.png);
  background-size: 375px 570px;
  border-radius: 10px 10px 0 0;
}
.pp{
  background-image: url(me.jpg); 
  background-repeat: no-repeat;
  background-size: 100px 100px; 
  height: 100px;
  width: 100px;
  margin-left: 130px;
  margin-top: 100px;
  border-radius: 50%;
  border: 2px solid;
  margin-bottom: 50px;
}
.grid-item14{
  grid-area: 3 / 2 / 4 / 4;
  background-color: #bbb;
}
.grid-item11{
  background-color: #ddd;
  margin-top: 80px;
  height: 230px;
}
.work{
}
.grid-item13{
  background-color: #ccc;
  height: 250px;
  margin-top: 0px;
}
#fbi,
#igi{
  border: none;
  position: relative;
  top: 200px;
  margin: 0px;
  left: 840px;
}
/*end of columns*/
        /*texts*/
        .name,
        .dob,
        .email,
        .phone{
          font-family: arial;
          margin-left: 10px;
          text-shadow: 0 0 5px white;

        }
        .name{
          color: red;
          text-shadow: 0 0 5px white;
        }
.edu,
.work,
.about{
  text-align: center;
  background-color: skyblue; 
  margin-top: 0px;
}
.proper{
  text-align: center;
  margin-top: 57px;
  text-shadow: 3px 0px 3px white;
  background-color: rgba(255, 0, 0, 0.6);
}





