body.index{
  margin:0;
  padding: 0;
  background-color: black;
  background-image: url(HillView.gif);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% 754px;
}

/*top menu*/
nav{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #37204d;
  height: 50px;
}
      ul{  
        position: fixed; 
        margin-top: -41px;
        right: 30px;
        list-style: none;
        }
      li{ 
        border: 2px solid;
        color: white;
        margin: 3px;
        border-radius: 4px;
        display: inline-block;
        opacity: 90%;
      }
      a{
        font-family: arial;
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding-left: 5px; 
        padding-right: 5px;
      }

      .home,
      .portfoli,
      .contac,
      .c,
      .siterepor{
        background-color: white;
        color: black;
      }
      .home1,
      .portfolio1,
      .contact1,
      .cv1,
      .sitereport1{
        color: black;
      }
      /*end of top menu*/    

      .line{ 
        position: fixed;
        background-color: white;
        width: 100%;
        height: 3px;
        opacity: 80%;
        margin-top: -150px;
      }

/*middle text*/
.welcome{ 
  margin-top: 200px;
  color: #663c3e; 
  font-size: 100px; 
  font-family: arial;
  font-weight: bold;
  text-shadow: 5px 1px 11px white;
  text-align: center;
  animation: texts 2s;
}
.website{ 
  color: #e0e0e0; 
  text-align: center;  
  font-size: 100px; font-family: arial; 
  font-weight: bold;
  text-shadow: 0px 3px 10px #663c3e;
  text-align: center;
  animation: text 2s;
}

@keyframes text{
  0%{
    color: #663c3e;
    margin-top: 200px;
    opacity: 0;

  }
}
@keyframes texts{
  0%{
    color: #e0e0e0;;
    margin-top: 200px;

  }
}
/*end of middle text*/

      /*hamburger icon*/
      .hamburger label#bar{
        height: 50px;
        width: 50px;
        margin-left: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
      }
      .hamburger label#bar span{
        background-color: white;
        height: 3px;
        width: 65%;
        margin: 4px;
      }
      #check{
        display: none;
      }
      /*end of hamburger*/

/*menu hovering*/
li:hover{
  border-color: black;
  background-color: white;
  transition-duration: 0.2s;
}
a:hover{
  color: black;
}
/*end of menu hovering*/

/*------------------------------------------------------------*/

/*responsive*/
        @media screen and (max-width: 1024px){

          .hamburger label#bar{
            margin-left: 93%;
          }

          body.index{
            width: 100%;
            background-size: 100% 1366px;
          }
          ul{  
            background-color: #4b3156;
            margin-top: 3px;
            width: 100%;
            height: 491px;
            text-align: center;
            position: fixed;
            right:105%;
            border-radius: 5px;
            transition: 0.2s;
          }
          li{
            display: block;
            padding-top: 30px;
            padding-bottom: 30px;
            margin: 0;
            width: 100%;
            border-color: black;
            margin-left: 0px;
          }
          a{
            font-size: 30px;
          }

.line{
  position: fixed;
  top: 200px;
}

          .hamburger label#bar{
              opacity: 100%;
          }
          #check:checked ~ ul {
            right: 0%;
          }

      .home,
      .portfoli,
      .contac,
      .c,
      .siterepor{
        background-color: #bbb;
        border-color: white;
      }
      .home1,
      .portfolio1,
      .contact1,
      .cv1,
      .sitereport1{
        color: black;
      }
          .welcome{
            font-size: 70px;
          }
          .website{
            font-size: 70px;
            margin-bottom: 100PX;
        }
          li:hover{
            background-color: #ccc;
          }
  }

          @media screen and (max-width: 415px){
          .hamburger label#bar{
            margin-left: 85%;
          }
          body.index{
            width: 100%;
            height: 500px;
            background-size: 100% 812px;
          }
          .welcome{
            font-size: 50px;
            margin-top: 140px;
          }
          .line{
          margin-top: -150px;
          }
          li:hover{
            background-color: #ccc;
          }
        }

/*end of responsive*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

                       /*portfolio css*/

body.portfolio{
  background-color: gray;
  margin:0;
  padding: 0;
}

ul.port{
  right: 13px;
}

      .line1{
        position: fixed;
        background-color: white;
        width: 100%;
        height: 3px;
        opacity: 80%;
        margin-top: -30px
       }

      /*columns top*/
      .grid-container1{
        display: grid;
        grid-template-columns: 0.33fr 0.33fr 0.35fr;
        margin-top: 80px; 
        grid-gap: 30px;    
      }
      .grid-container1{
        background-image:url(HillView.gif);
        background-repeat: no-repeat;
        background-size: 100% 995px;
        height: 995px;
        width: 100%;
        border-radius: 15px;
      }
      .grid-item,
      .grid-item1,
      .grid-item2,
      .grid-item3, 
      .grid-item5,
      .grid-item6{
        background-color: #110b3b;
        border-radius: 10px;
        height: 300px;
        transition-duration: 0.5s;
        margin-top: 22px;
        box-shadow: 0px 2px 6px 0px;
        display: grid;
      }
      .grid-item,
      .grid-item1,
      .grid-item2{
        background-size: 100% 300px;
        background-repeat: no-repeat;
      }
      .grid-item{
        background-image: url(placeholderimage.jpg);
        margin-left: 20px;
      }
      .grid-item1{
        background-image: url(placeholderimage.jpg);
        border-radius: 10px 0 0 10px;
      }
      .grid-item2{
        background-image: url(placeholderimage.jpg);
        background-size: 100% 400px;
        background-repeat: no-repeat;
        height: 950px;
        margin-left: -20px;
        margin-right: 18px;
        border-radius: 0 10px 10px 0px;
      }
      .grid-item3{
        background-image: url(placeholderimage.jpg);
        background-size: 50% 500px;
        background-repeat: no-repeat;
        grid-column: 1 / 3;
        margin-left: 20px;
        border-radius: 10px 0 0 10px;
      }
      .side{
        color: white;
        margin-top: 420px;
        text-align: center;
        font-family: arial;
      }
      .side span{
        color:darkred;
      }
      .mid{
        margin-left: 50%;
        margin-top: 200px;
        text-align: center;
        color: white;
        font-family: sans-serif;
      }
      #btm,
      #btm1{
        color: white;
        text-align: center;
      }
      .grid-item3{
        margin-top: -515px;
        height: 485px; 
      }
      .details,
      .details1{ 
        width: 100%;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 0px 4px 0px;
        background-repeat: no-repeat;
        margin-top: 300px;
        background-size: 100% 150px;
      }
      .details{ 
        background-image: url(placeholdertext400x150.png);
      }
      .details1{ 
        background-image: url(placeholdertext400x150.png);
      }
      /*end of columns top*/

      /*columns bottom*/
      .grid-container2{
        display: grid;
        grid-template-columns: 0.3fr 0.3fr; 
        margin-top: 50px;  
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        height: 450px; 
        margin-left: 0px; 
      }
      .grid-item5,
      .grid-item6{
        height: 350px; 
        margin-top: 45px;
        margin-left: 50px;
       }
       /*end of columns bottom*/

/*social media icons*/
#fbiconp,
#igiconp{
  font-size: 10px;
  background-color: blue;
  width: 43px;
  height: 10px;
  margin-left: 40%;
  border-radius: 2px;
  border: 3px solid;
  border-color: blue;
}
#igiconp{
  background-color: red;
  border-color: red;
}
/*end of social media icons*/

.foot{
  height: 500px;
}
       
/*columns hover*/
.grid-item:hover,
.grid-item1:hover{
      box-shadow: 0px 0 5px 2px purple;
      height: 450px;
}
      .grid-item5:hover,
      .grid-item6:hover{
        box-shadow: 0 3px 5px 0 white;
        cursor: pointer;
       }
/*end of columns hover*/

/*-------------------------------------------------------------*/

/*responsive*/

        @media screen and (max-width: 1024px){
          ul.port{
            right: 1050px;
          }
        }
        @media screen and (max-width: 600px){
          body.portfolio{
            background-color: purple;
          }

          ul.port{
            right: 105%;
          }

.grid-container1{
  grid-template-columns: 0.3fr 0.3fr 0.36fr;
}
/*2nd*/
.grid-item{
  background-size: 100% 190px;
  height: 190px;
  margin-left: -40px;
  border-radius: 0 15px 0 0;
}
/*3rd*/
.grid-item1{
  background-size: 100% 190px;
  grid-area: 2 / 3 / 3 / 4;
  margin-top: -360px;
  margin-left: -40px;
  height: 190px;
  border-radius: 0 0 0 0;
}
/*1st*/
.grid-item2{
  grid-area: 1 / 1 / 2 / 3;
  grid-column: 1 / 3;
  background-size: 100% 300px;
  height: 620px;
  margin-left: 13px;
  border-radius: 15px 0 0 0;
}
/*4th*/
.grid-item3{
  margin-top: -100px;
  grid-column: 1 / 4;
  background-size: 100% 300px;
  height: 300px;
  border-radius: 0 0 15px 15px; 
  margin-left: 13px;
}
.details,
.details1{
  margin-top: 190px;
}
.grid-item:hover{
  height: 300px;
}
.grid-item1:hover{
  height: 300px;
}
.grid-container2{
  grid-template-columns: 0.48fr 0.48fr;
  height: 400px;
}
.grid-item5,
.grid-item6{
  margin-left: 16px;
  height: 300px;
}

}

/*end of responsive*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

               /*contact css*/

body.contact{
  margin: 0;
  padding: 0;
  background-color: gray;
}

      .line2{ 
        position: fixed;
        background-color: white;
        width: 100%;
        height: 3px;
        opacity: 80%;
        margin-top: 50px;
      }

/*columns*/
.grid-container3{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 15px;
}
.grid-item7{
  background-color: black;
}
.grid-item7{
  margin-top: 70px;
  height: 640px; 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.me{
  background-image: url(me.jpg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  height: 40px; width: 40px;
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 50px;
}
/*social media icons*/
#fbico,
#igico{
  font-size: 10px;
  background-color: blue;
  width: 43px;
  height: 10px;
  margin-left: 12px;
  border-radius: 2px;
  border: 3px solid;
  border-color: blue;
}
#igico{
  background-color: red;
  border-color: red;
 
}
/*end of social media icons*/

.grid-item8{
  background-image: url(HillView.gif);
  background-size: 100% 640px;
  height: 640px;
  margin-top: 70px;
  border-radius: 20px;
  box-shadow: 0 3px 5px 0;
}
/*end of columns*/

        /*text inside columns*/
        .text{
          background-color: #aaa;
          color: #fff;
          font-family: helvetica;
          text-align: center;
        }
        .text1{
          margin-top: 30px;
          margin-left: 20%;
          color: white;
          font-family: sans-serif;
          text-shadow: 3px 0px 3px red;
        }
        /*end of text inside columns*/

/*form*/
form{
  margin-top: 50px;
  height: 460px;
  margin-left: 100px;
}
label{
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-left: 10px;
}
#message{
  box-shadow: 0 0px 3px 0px;
  margin-left: 10px;
  width: 40%;
}
#box,
#box1,
#box2,
#box3{
  margin-left: 10px;
  height: 20px; width: 40%;
  border: 2px solid;
}
  #sub{
  margin-top: 15px;
  margin-left: 15%;
 }
 a#se{
  font-size: 15px;
  border: 2px solid;
  margin-left: 12%;
  border-radius: 5px;
  border-color: black;
  color: black;
 }
  a#se:hover{
  color: darkred;
  border-color: darkred;
 }
#mf,
#mf1{
  color: #ccc;
  margin-top: 10px;
  margin-left: 10px;
}
/*end of form*/

/*contact hover*/
.me:hover{
  opacity: 100%;
  box-shadow: 0 0 9px 2px white;
}
/*end of contact hover*/

/*--------------------------------------------------------------------*/

/*responsive*/

@media screen and (max-width: 600px){
  body.contact{
    background-color: lightgray;
  }
  ul.cont{
  }
  #message{
    width: 40%;
  }
.grid-container3{
  grid-template-columns: 1fr;
}
.grid-item7{
  grid-area: 2 / 1 / span 2 / span 1;
}
.grid-item7{
  margin-top: 0px;
  height: 300px; 
}

#message{
  width: 50%;
}
#box,
#box1,
#box2,
#box3{
 width: 50%;
}
}

/*end of responsive*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

                       /*cv css*/

body.cv{
  margin: 0;
  padding: 0;
  background-color: gray;
}
      .line3{
        background-color: white;
        width: 100%;
        height: 3px;
        opacity: 80%;
        position: fixed;
        top: 50px;
        left: -1px;
      }

/*grid-columns*/
.grid-container4{
  background-color: #37204d;
  height: 950px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 70px;
  border-radius: 20px;
}
.grid-item9,
.grid-item10,
.grid-item11,
.grid-item12,
.grid-item13,
.grid-item14{
  height: 320px;
}
/*skyblue*/
.grid-item9{
  grid-area: 1 / 1 / 4 / 2;
  margin-top: 50px;
  height: 870px;
  width: 82%;
  margin-left: 20%;
  background-color: skyblue;
  border-radius: 50px 0 0 50px;
}
/*blue*/
.grid-item10{
  grid-area: 1 / 2 / 3 / 3;
  background-color: #eee;
  margin-top: 30px;
  height: 570px;
  background-image: url(idbg.png);
  background-size: 100% 570px;
  border-radius: 10px 10px 0 0;
}
.pp{
  background-image: url(me.jpg); 
  background-repeat: no-repeat;
  background-size: 100% 100px; 
  height: 100px;
  width: 26%;
  margin-left:36%;
  margin-top: 100px;
  border-radius: 50%;
  border: 2px solid;
  margin-bottom: 50px;
}
/*lightblue*/
.grid-item12{
  grid-area: 1 / 4 / 4 / 5;
  background-color: lightblue;
  height: 870px;
  width: 80%;
  margin-top: 50px;
  border-radius: 0 50px 50px 0;
}
#prs{
  text-align: center;
  font-family: arial;
}
/*gray-1*/
.grid-item11{
  background-color: #ddd;
  margin-top: 80px;
  height: 240px;
}
#ps{
  font-family: arial;
  text-align: center;
}

/*gray-2*/
.grid-item13{
  grid-area: 2 / 3 / 3 / 4;
  background-color: #ccc;
  height: 260px;
  margin-top: -40px;
}
#we{
  text-align: center;
  font-family: arial;
}
/*gray-3*/
.grid-item14{
  grid-area: 3 / 2 / 4 / 4;
  background-color: #bbb;
  margin-top: -60px;
}
/*social media icons*/
#fbicon,
#igicon{
  position: relative;
  top: 230px;
  font-size: 10px;
  background-color: blue;
  width: 43px;
  height: 10px;
  margin-left: 26%;
  border-radius: 2px;
  border: 3px solid;
  border-color: blue;
}
#igicon{
  background-color: red;
  border-color: red;
}

/*end of social media icons*/
/*end of grid-columns*/

        /*texts*/
        .name,
        .dob,
        .email,
        .phone{
          font-size: 1rem;
          font-family: arial;
          margin-left: 10px;
          text-shadow: 0 0 5px white;
        }
        .name{
          color: red;
          text-shadow: 0 0 5px white;
        }
        .edu,
        .work,
        .about{
          text-align: center;
          background-color: skyblue; 
          margin-top: 0px;
        }
        .proper{
          text-align: center;
          margin-top: 57px;
          text-shadow: 3px 0px 3px white;
          background-color: rgba(255, 0, 0, 0.6);
        }
        /*end of texts*/

.footc{
  height: 30px;
}

/*-------------------------------------------------------------------*/

/*responsive*/

@media screen and (max-width: 1276px){
        .email{
          font-size: 13px;
        }
}

@media screen and (max-width: 1260px){
        .edu{
          font-size: 20px;
        }
}

@media screen and (max-width: 1056px){
        .edu{
          font-size: 15px;
        }
}

@media screen and (max-width: 980px){
        .proper{
          font-size: 19px;
        }
}

@media screen and (max-width: 850px){
        .proper{
          font-size: 15px;
        }
        .edu{
          font-size: 13px;
        }
}

@media screen and (max-width: 772px){
        .work,
        .about{
          font-size: 20px;
        }
tr,td{
 font-size: 10px;
}
#ps{
  font-family: arial;
  text-align: center;
  font-size: 13px;
}

}

@media screen and (max-width: 734px){
        .edu{
          font-size: 10px;
        }
        .work{
          font-size: 18px;
        }
}

@media screen and (max-width: 675px){
        .proper{
          font-size: 11px;
        }
}

@media screen and (max-width: 639px){
        .edu{
          font-size: 8px;
        }
        .work{
          font-size: 15px;
        }
}

@media screen and (max-width: 600px){

 body.cv{
  background-color: gray;
 }
.grid-container4{
  margin-top: 70px;
  height: 1200px;
  background-color: purple;
  grid-template-columns: 0.6fr 0.375fr 0fr 0fr;
}
/*skyblue*/
.grid-item9{
  grid-area: 2 / 1 / 3 / 2;
  margin-top: 5px;
  height: 300px;
  width: 85%;
  margin-left: 4%;
  border-radius: 0 0 0 50px;
}
/*blue*/
.grid-item10{
  grid-area: 1 / 1 / 2 / 2;
  background-color: #eee;
  margin-left: 4%;
  height: 500px;
  background-size: 100% 570px;
  border-radius: 10px 0 0 0;
  margin-top: 30px;
}
/*lightblue*/
.grid-item12{
  grid-area: 3 / 2 / 4 / 3;
  height: 300px;
  width: 117%;
  margin-top: -321px;
  margin-left: -18%;
  border-radius: 0 0 50px 0;
}
/*gray-1*/
.grid-item11{
  grid-area: 1 /  2 / 2 / 3;
  margin-top: 30px;
  height: 245px;
  margin-left: 5%;
  border-radius: 0 10px 0 0;
}
/*gray-2*/
.grid-item13{
  grid-area: 2 / 2 / 3 / 3;
  margin-top: -267px;
  height: 245px;
  margin-left: 5%;
}
/*gray-3*/
.grid-item14{
  grid-area: 4 / 1 / 5 / 2;
  background-color: #bbb;
  margin-left: 28%;
  height: 300px;
  width: 105%;
  margin-top: -20px;
}
        .edu{
          font-size: 9px;
          border-radius: 0 10px 0 0;
        }
        .proper{
          font-size: 15px;
        }
}
@media screen and (max-width: 439px){
  #igicon{
    margin-left: 10%;
  }
}
@media screen and (max-width: 415px){
  tr,td{
    font-size: 6px;
  }
}

/*end of responsive*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*sitereport css*/

body.sitereport{
  background-color: purple;
  margin: 0;
  padding: 0;
}

/*Reports*/
.topic1,
.topic2,
.topic3,
.topic4{
  margin: 15px;
  text-align: center;
}
.topic1{
  background-color: red;
  margin-top: 70px;
}
p#paragraph1,
p#paragraph2,
p#paragraph3,
p#paragraph4,
p#paragraph5{
  font-family: sans-serif;
}

.topic2{
  background-color: green;
  margin-top: 70px;
}
h1#heading2{
  text-align: center;
  font-family: arial;
  text-decoration: underline;
  color: darkred;
}
.topic3{
  background-color: blue;
  margin-top: 70px;
  text-align: center;
}
h1#heading1,
h1#heading2,
h1#heading3,
h1#heading4,
h2#subheading1,h2#subheading2,h2#subheading3,h2#subheading4,h2#subheading5,
h2#subheading6,h2#subheading7,h2#subheading8,h2#subheading9,h2#subheading10,
h2#subheading11,h2#subheading12,h2#subheading13,h2#subheading14,h2#subheading15,
h2#subheading16,h2#subheading17,h2#subheading18,h2#subheading19,h2#subheading20,
h2#subheading21,h2#subheading22,h2#subheading23,h2#subheading24,h2#subheading25,
h2#subheading26,h2#subheading27,h2#subheading28,h2#subheading29,h2#subheading30,
h2#subheading31,h2#subheading32{
  text-align: center;
  font-family: arial;
  text-decoration: underline;
  color: darkred;
}
h2#subheading2 span,
h2#subheading10 span,
h2#subheading17 span,
h2#subheading24 span{
  color: black;
  font-family: serif;
}
                    /*designing process*/
.topic4{
  background-color: #aaa;
}
.image-container1,
.image-container2,
.image-container3,
.image-container4{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#responsive{
  background-image: url(responsive/Menu.png);
  background-repeat: no-repeat;
  background-size: 250px 500px;
  height: 500px;
  margin-left: 41%;
}
#image1,
#image2,
#image3,
#image4,
#image5,
#image6,
#image7,
#image8,
#image9,
#image10,
#image11,
#image12,
#image13,
#image14,
#image15,
#image16{
  background-repeat: no-repeat;
  background-size: 500px 300px;
  height: 300px;
  width: 500px;
  margin-left: 15%;
}
#image1{
  background-image: url(designing-process/Capture.png);
}
#image2{
  background-image: url(designing-process/Capture1.png);
}
#image3{
  background-image: url(designing-process/Capture2.png);
}
#image4{
  background-image: url(designing-process/Capture3.png);
}

#image5{
  background-image: url(designing-process/portfolio/PCapture.png);
}
#image6{
  background-image: url(designing-process/portfolio/PCapture1.png);
}
#image7{
  background-image: url(designing-process/portfolio/PCapture2.png);
}
#image8{
  background-image: url(designing-process/portfolio/PCapture3.png);
}
#image9{
  background-image: url(designing-process/contact/Capture.png);
}
#image10{
  background-image: url(designing-process/contact/Capture1.png);
}
#image11{
  background-image: url(designing-process/contact/Capture2.png);
}
#image12{
  background-image: url(designing-process/contact/Capture3.png);
}
#image13{
  background-image: url(designing-process/cv/Capture.png);
}
#image14{
  background-image: url(designing-process/cv/Capture1.png);
}
#image15{
  background-image: url(designing-process/cv/Capture2.png);
}
#image16{
  background-image: url(designing-process/cv/Capture3.png);
}
#image17{
  background-image: url(responsive/Index.png);
}
#image18{
  background-image: url(responsive/Portfolio.png);
}
#image19{
  background-image: url(responsive/Contact.png);
}
#image20{
  background-image: url(responsive/CV.png);
}

.image-container5{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#image17,
#image18,
#image19,
#image20{
  width: 250px;
  background-size: 250px 450px;
  background-repeat: no-repeat;
  height: 450px;
  margin-left: 15%;
}

.image-container6{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  #image21,#image22,#image23,
  #image24,#image25,#image26{
    background-size: 500px 500px;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    margin-left: 15%;
  }

  #image21{
    background-image: url(Validation/Capture.png);
  }
  #image22{
    background-image: url(Validation/Capture1.png);
  }  
  #image23{
    background-image: url(Validation/Capture2.png);
  }
  #image24{
    background-image: url(Validation/Capture3.png);
  } 
  #image25{
    background-image: url(Validation/Capture4.png);
  }  
  #image26{
    background-image: url(Validation/Capture5.png);
  }  

     
                   /*end of designing process*/

/*end of reports*/

/*..............................................................................*/

/*responsive*/

@media screen and (max-width: 1253px){
#image1,#image2,#image3,#image4,#image5,#image6,#image7,#image8,#image9,#image10,
#image11,#image12,#image13,#image14,#image15,#image16{
  background-size: 400px 250px;
  height: 250px;
  width: 400px;
}
#image17,
#image18,
#image19,
#image20{
  width: 200px;
  background-size: 200px 350px;
  height: 350px;
}
  #image21,#image22,#image23,
  #image24,#image25,#image26{
    background-size: 400px 400px;
    height: 400px;
    width: 400px;
  }
}
@media screen and (max-width: 1015px){
#image1,#image2,#image3,#image4,#image5,#image6,#image7,#image8,#image9,#image10,
#image11,#image12,#image13,#image14,#image15,#image16{
  background-size: 350px 200px;
  height: 200px;
  width: 350px;
}
#image17,
#image18,
#image19,
#image20{
  width: 180px;
  background-size: 180px 270px;
  height: 270px;
}
  #image21,#image22,#image23,
  #image24,#image25,#image26{
    background-size: 350px 350px;
    height: 350px;
    width: 350px;
  }
}
@media screen and (max-width: 900px){
#image1,#image2,#image3,#image4,#image5,#image6,#image7,#image8,#image9,#image10,
#image11,#image12,#image13,#image14,#image15,#image16{
  background-size: 300px 170px;
  height: 170px;
  width: 300px;
}
#image17,
#image18,
#image19,
#image20{
  width: 150px;
  background-size: 150px 240px;
  height: 240px;
}
  #image21,#image22,#image23,
  #image24,#image25,#image26{
    background-size: 300px 300px;
    height: 300px;
    width: 300px;
  }
}
@media screen and (max-width: 780px){
.image-container1,
.image-container2,
.image-container3,
.image-container4,
.image-container6{
  grid-template-columns: 1fr;
}
#CN{
  grid-area: 7 / 1 / 8 / 2;
}
#CNN{
  grid-area: 11 / 1 / 12 / 2;
}
.image-container5{
  grid-template-columns: 1fr 1fr;
}
#subheading4,
#subheading12,
#subheading19,
#subheading26
{
  grid-area: 3 / 1 / 4 / 2;
}
#subheading6,
#subheading14,
#subheading21,
#subheading28{
  grid-area: 7 / 1 / 8 / 2;
}
#ct{
  grid-area: 3 / 1 / 4 / 2;
}
#cp{
  grid-area: 3 / 2 / 4 /3;
}
#image1,#image2,#image3,#image4,#image5,#image6,#image7,#image8,#image9,#image10,
#image11,#image12,#image13,#image14,#image15,#image16{
  background-size: 350px 200px;
  height: 200px;
  width: 350px;
  margin-left: 25%;
}
#image17,
#image18,
#image19,
#image20{
  width: 150px;
  background-size: 150px 240px;
  height: 240px;
}
#responsive{
  margin-left: 25%;
}
  #image21,#image22,#image23,
  #image24,#image25,#image26{
    background-size: 350px 350px;
    height: 350px;
    width: 350px;
    margin-left: 25%;
  }
  #PV{
    grid-area: 3 / 1 / 4 / 2;
  }
}
@media screen and (max-width: 520px){
#image1,#image2,#image3,#image4,#image5,#image6,#image7,#image8,#image9,#image10,
#image11,#image12,#image13,#image14,#image15,#image16{
  background-size: 300px 170px;
  height: 170px;
  width: 300px;
  margin-left: 18%;
}
  #image21,#image22,#image23,
  #image24,#image25,#image26{
    background-size: 300px 300px;
    height: 300px;
    width: 300px;
    margin-left: 18%;
  }
#image17,
#image18,
#image19,
#image20{
  margin-left: 5%;
}
}
@media screen and (max-width: 480px){
  #responsive{
    margin-left: 15%;
  }
#image1,#image2,#image3,#image4,#image5,#image6,#image7,#image8,#image9,#image10,
#image11,#image12,#image13,#image14,#image15,#image16{
  margin-left: 6%;
}
  #image21,#image22,#image23,
  #image24,#image25,#image26{
    margin-left: 6%;
  }
}
@media screen and (max-width: 375px){
.image-container5{
  grid-template-columns: 1fr;
}
 #po{
  grid-area: 3 / 1 / 4 / 2;
 }
 #ct{
  grid-area: 5 / 1 / 6 / 2;
 }
 #cp{
  grid-area: 7 / 1 / 8 / 2;
 }
 #image17,
 #image18,
 #image19,
 #image20{
   margin-left: 23%;
 }
 #responsive{
  margin-left: 6%;
 }
#image1,#image2,#image3,#image4,#image5,#image6,#image7,#image8,#image9,#image10,
#image11,#image12,#image13,#image14,#image15,#image16{
  background-size: 250px 150px;
}
  #image21,#image22,#image23,
  #image24,#image25,#image26{
    background-size: 250px 250px;
  }
}
