body.index{
  margin:0;
  padding: 0;
  background-color: black;
  background-image: url(HillView.gif);
  background-repeat: no-repeat;
  height: 670px;
  width: 100%;
  background-size: 100% 754px;
}
/*top menu*/
nav{
  background-color: #37204d;
  height: 50px;
}
      ul{  
        margin-top: 9px;
        margin-right: 30px;
        list-style: none;
        float: right;
        }
      li{ 
        border: 2px solid;
        color: white;
        margin: 3px;
        border-radius: 4px;
        display: inline-block;
        opacity: 90%;
      }
      a{
        font-family: arial;
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding-left: 5px; 
        padding-right: 5px;
      }
      .home,
      .portfolio,
      .contact,
      .cv{
        background-color: white;
        color: black;
      }
      .home1,
      .portfolio1,
      .contact1,
      .cv1{
        color: black;
      }
      /*end of top menu*/    
      .line{ 
        background-color: white;
        width: 100%;
        height: 3px;
        opacity: 80%;
        margin-top: 0px;
      }
      label #bar{
        color: white;
        font-size: 35px;
        float: right;
        margin-top: -42px;
        margin-right: 30px;
        cursor: pointer;
        display: none;
      }
      #check{
        display: none;
      }
/*middle text*/
.welcome{ 
  color: #663c3e; 
  font-size: 100px; font-family: arial;
  font-weight: bold;
  text-shadow: 5px 1px 11px white;
  text-align: center;
  margin-top: 150px;
}
.website{ 
  color: #e0e0e0; text-align: center;  
  font-size: 100px; font-family: arial; 
  font-weight: bold;
  text-shadow: 0px 3px 10px #663c3e;
  text-align: center;
}
/*end of middle text*/
/*menu hovering*/
li:hover{
  border-color: black;
  background-color: white;
  transition-duration: 0.2s;
}
a:hover{
  color: black;
}
/*end of menu hovering*/
/*responsive*/
        @media screen and (max-width: 600px){
          body.index{
            width: 100%;
            background-size: 100% 736px;
          }
          ul{  
            background-color: #4b3156;
            margin-top: 53px;
            width: 90%;
            height: 490px;
            text-align: center;
            position: fixed;
            right: 95%;
            border-radius: 5px;
            transition: 0.2s;
          }
          li{
            display: block;
            padding-top: 30px;
            padding-bottom: 30px;
            margin: 0;
            width: 110%;
            border-bottom: 2px solid;
            border-color: black;
            margin-left: -40px;
          }
          a{
            font-size: 30px;
          }
      .home,
      .portfolio,
      .contact,
      .cv{
        background-color: #bbb;
        border-bottom: 2px solid;
        border-color: white;
      }
      .home1,
      .portfolio1,
      .contact1,
      .cv1{
        color: black;
      }
          .welcome{
            font-size: 70px;
            margin-top: 70px;
            transition: 0.2s;
          }
          .website{
            font-size: 70px;
            margin-bottom: 100PX;
          }
          label #bar{
            display:block;
            margin-top: 10px;
          }
          #check:checked ~ ul{
            right: -7%;
          }
        }

          @media screen and (max-width: 413px){
          body.index{
            width: 100%;
            height: 500px;
            background-size: 100% 812px;
          }
          .welcome{
            font-size: 50px;
            margin-top: 90px;
            transition: 0.3s;
          }
        }

/*end of responsive*/

                       /*portfolio css*/

body.portfolio{
  background-color: #fdac058c;
}
/*top menu*/
nav.port{
  margin-top: -100px;
  width: 101%;
  margin-left: -8px;
  position: fixed;
}
      ul.port{
        margin-top: -91px;
        position: fixed;
        right: -17px;
      }
      li.port{ 
        opacity:90%; 
      }
/*end of top menu*/
      .line1{ 
        background-color: white;
        width: 100%;
        height: 3px;
        opacity: 80%;
        position: fixed;
        top: 50px;
      }
/*background-image*/
.bg{
  background-image:url(HillView.gif);
  background-repeat: no-repeat;
  background-size: 100% 1440px;
  margin-top: 100px;
  height: 1440px;
  width: 100%;
  border-radius: 15px;
}
/*end of background-image*/
      /*placehoder images*/
      .grid-container1,
      .grid-container2{
        display: grid;
        grid-template-columns: 0.33fr 0.33fr 0.33fr;
        margin-top: -1425px; 
        grid-gap: 30px;  
        margin-left: 15px;   
      }
      .grid-item,
      .grid-item1,
      .grid-item2,
      .grid-item3,
      .grid-item4, 
      .grid-item5,
      .grid-item6{
        background-color: #ddd;
        border-radius: 10px;
        height: 300px;
        transition-duration: 0.5s;
        display: grid;
      }
      .grid-item,
      .grid-item1,
      .grid-item2{
        background-size: 100% 300px;
      }
      .grid-item{
        background-image: url(placeholderimage.jpg);
      }
      .grid-item1{
        background-image: url(placeholderimage.jpg);
      }
      .grid-item2{
        background-image: url(placeholderimage.jpg);
      }
      .grid-item3{
        background-image: url(placeholderimage.jpg);
        background-size: 100% 400px;
        grid-column: 1 / 3;
      }
      .grid-item4{
        background-image: url(placeholderimage.jpg);
        background-size: 100% 400px;
      }
      .grid-item3, 
      .grid-item4{
        height: 400px; 
      }
/*     detail of images*/
      .details,
      .details1,
      .details2,
      .details3,
      .details4,
      .details5,
      .details6{ 
        border-radius: 0 0 10px 10px;
        background-color: #ddd;
        box-shadow: 0px 0px 4px 0px;
        background-repeat: no-repeat;
      }
      .details,
      .details1,
      .details2{ 
        margin-top: 300px;
      }
      .details{ 
        background-image: url(placeholdertext400x150.png);
      }
      .details1{ 
        background-image: url(placeholdertext400x150.png);
      }
      .details2{ 
        background-image: url(placeholdertext400x150.png);
      }
      .details3,
      .details4{
        margin-top: 400px;
      }
      .details3{ 
        background-image: url(placeholdertext830x200.png); 
      }
      .details4{  
        background-image: url(placeholdertext400x200.png);
      }
/*     detail of images*/
      .grid-container2{
        display: grid;
        grid-template-columns: 0.495fr 0.495fr; 
        margin-top: 30px;      
      }
      .grid-item5,
      .grid-item6{
        height: 450px; 
       }
      .grid-item5{
        background-image: url(placeholderimage.jpg);
        background-size: 100% 450px;
      }
      .grid-item6{
        background-image: url(placeholderimage.jpg);
        background-size: 100% 450px;
      }
      /*detail of images*/
      .details5,
      .details6{
        margin-top: 450px;
      } 
      .details5{
        background-image: url(placeholdertext615x200.png);
      }
      .details6{  
        background-image: url(placeholdertext615x200.png);
      }
      /*detail of images*/
      /*end of placeholder images
/*place holder images hover*/
.grid-item:hover,
.grid-item1:hover,
.grid-item2:hover, 
.grid-item3:hover, 
.grid-item4:hover, 
.grid-item5:hover,
.grid-item6:hover{
      box-shadow: 0px 2px 6px 0px;
      height: 450px;
}
.grid-item3:hover,
.grid-item4:hover{
      height: 600px;
}
.grid-item5:hover,
.grid-item6:hover{
      height: 650px;
}
/*end of place holder images hover*/
.foot{
  height: 300px;
}
      label #bar1{
        position: fixed;
        color: white;
        font-size: 35px;
        margin-top: -92px;
        cursor: pointer;
        display: none;
        right: 20px;
      }
      #check1{
        display: none;
      }

/*responsive*/
        @media screen and (max-width: 600px){
          body.portfolio{
            background-color: orange;
          }
          ul.port{  
            top: 142px;
            right: 0%;
          }
          .line1{
            right: 4px;
          }
          label #bar1{
            display:block;
          }
          #check1:checked ~ .line{
            display: none;
          }
        }
/*end of responsive*/

               /*contact css*/

body.contact{
  background-color: black;
}
      /*top menu*/
      li.cont{ 
        opacity: 90%;
      }
      /*end of top menu*/
/*columns*/
.grid-container3{
  display: grid;
  grid-template-columns: 300px 1172px;
  grid-gap: 15px;
}
.grid-item7{
  background-color: black;
}
.grid-item7{
  position: relative;
  top: 69px; left: 12px;
  height: 640px; 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.me{
  background-image: url(me.jpg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  height: 40px; width: 40px;
  margin-left: 118px;
  margin-top: 15px;
  border-radius: 50px;
  opacity: 70%;
}
/*contact logo*/
#fbicon{
  position: relative;
  left: 100px;
  font-size: 25px;
  border: none;
}
#igicon{
  position: relative;
  left: 90px;
  border:none;
}
/*end of contact logo*/
.grid-item8{
  background-image: url(HillView.gif);
  background-size: 1172px 640px;
  position: relative;
  top: 70px; left: 19px;
  height: 640px;
  border-radius: 20px;
  box-shadow: 0 3px 5px 0;
}
/*end of columns*/
        /*text inside columns*/
        .text{
          opacity: 90%;
          color: #fff;
          position: relative;
          left: 85px;
          top: 10px;
          font-family: helvetica;
        }
        .text1,
        .text2{
          opacity: 90%;
          color: white;
          position: relative;
          left: 120px;
          top: 40px;
          font-family: sans-serif;
          text-shadow: 3px 0px 3px red;
        }
        .text2{
          top: -15px;
          left: 570px;
        }
        /*end of text inside columns*/
/*form*/
.main{
  width: 40%;
  position: relative;
  top: 40px;
  left: 100px;
  height: 500px;
  color: black;
  border-radius: 30px;
  box-shadow: 0 2px 3px 0;
}
form{
  opacity: 90%;
  position: relative;
  left: 80px;
  top: 0px;
  height: 460px;
}
label{
  font-size: 20px;
  font-family: sans-serif;
  position: relative;
  left: 10px;
}
#message{
  position: relative;
  left: 430px;
  top: -340px;
  box-shadow: 0 0px 3px 0px;
}
#box{
  margin-left: 10px;
  height: 20px; width: 60%;
  border: 2px solid;
}
#submit{
position: relative;
top: -130px;
left: 10px;
}
#submit1{
position: relative;
top: -340px;
left: 630px;
}
#submit,
#submit1{
  border: 1px solid;
 border-radius: 4px;
}
#mf{
  margin-top: 10px;
  margin-left: 10px;
}
/*end of form*/
/*contact hover*/
#fbicon:hover{
  color: blue;
}
#igicon:hover{
  color: red;
}
.me:hover{
  opacity: 100%;
  box-shadow: 0 0 9px 2px white;
}
/*end of contact hover*/

                       /*cv css*/

body.cv{
  background-color: black;
}
/*pictiure*/
/*end of picture*/
      /*top menu*/
      li.c{ 
        opacity: 90%;
      }
      /*end of top menu*/
/*columns*/
.grid-container4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 0px;
  margin-left: 3px;
}
.grid-item9,
.grid-item10,
.grid-item11,
.grid-item12,
.grid-item13,
.grid-item14,
.grid-item15{
  height: 320px;
}
.grid-item9{
  grid-area: 1 / 1 / 4 / 2;
  margin-top: 50px;
  height: 870px;
  width: 70%;
  margin-left: 115px;
  background-color: lightgreen;
  border-radius: 50px 0 0 50px;
}
.grid-item12{
  grid-area: 1 / 4 / 4 / 5;
  background-color: orange;
  height: 870px;
  width: 70%;
  margin-top: 50px;
  border-radius: 0 50px 50px 0;
}
.grid-item10{
  grid-area: 1 / 2 / 3 / 3;
  background-color: #eee;
  margin-top: 30px;
  height: 570px;
  background-image: url(idbg.png);
  background-size: 375px 570px;
  border-radius: 10px 10px 0 0;
}
.pp{
  background-image: url(me.jpg); 
  background-repeat: no-repeat;
  background-size: 100px 100px; 
  height: 100px;
  width: 100px;
  margin-left: 130px;
  margin-top: 100px;
  border-radius: 50%;
  border: 2px solid;
  margin-bottom: 50px;
}
.grid-item14{
  grid-area: 3 / 2 / 4 / 4;
  background-color: #bbb;
}
.grid-item11{
  background-color: #ddd;
  margin-top: 80px;
  height: 230px;
}
.work{
}
.grid-item13{
  background-color: #ccc;
  height: 250px;
  margin-top: 0px;
}
#fbi,
#igi{
  border: none;
  position: relative;
  top: 200px;
  margin: 0px;
  left: 840px;
}
/*end of columns*/
        /*texts*/
        .name,
        .dob,
        .email,
        .phone{
          font-family: arial;
          margin-left: 10px;
          text-shadow: 0 0 5px white;

        }
        .name{
          color: red;
          text-shadow: 0 0 5px white;
        }
.edu,
.work,
.about{
  text-align: center;
  background-color: skyblue; 
  margin-top: 0px;
}
.proper{
  text-align: center;
  margin-top: 57px;
  text-shadow: 3px 0px 3px white;
  background-color: rgba(255, 0, 0, 0.6);
}





